RewriteEngine On

# Force HTTPS + Remove www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.ramadagorakhpurgorakhnath\.com$ [NC]
RewriteRule ^(.*)$ https://ramadagorakhpurgorakhnath.com/$1 [R=301,L]

# Remove index.html from URL
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]

# Default index file
DirectoryIndex index.html
